*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  
}

.Contenedor{
 border: solid 1px black;
 width: 100%;
 max-width:1000px;
 margin:auto;
 box-sizing: border-box;
 overflow: hidden;
}

.Cabecera {
 display: flex;
 justify-content: space-between;
 position: relative;
 height: 220px;
}

.Cabecera figure {
 width:130px;
 Margin:Auto;
}


.Cabecera img{
 width:130px; 
}

.cabecera_h1 { 
 
 position: absolute;
 top: 40px;
 left: 150px;
 
}

.cabecera_frase {
 position: absolute;
 top: 70px;
 left: 235px;
}

/*.nav {
 position:absolute;
 top: 100px;
 right: -200px;
 width: 200px;
 z-index: 1;
 background: rgba(0,0,0,.5);
 height: 100vh;
 transition: transform .3s ease-out;
 will-change: transition;
}
*/

.nav{
 margin: 10px 10px 0 0;
 position: unset;
 background: none;
 height: auto;
 width: unset;
 border:none;
}

.nav--move{
  transform: translateX(-100%); 
}

.nav_link {
 display: block;
 text-decoration: none;
 line-height: 40px;
 text-indent: 10px;
}

.nav_link: last-child {
 text-indent: 5px; 
}
/************/

/*@media screen and (min-width: 800px){

	.cabecera__h1{
		position: absolute;
		top: 40px;
		left: 150px;
	}

	.cabecera__frase{
		position: absolute;
		top: 75px;
		left: 235px;
	}

	.nav{
		display: block;
	}

	.iconMenu{
		display: none;
	}

	.nav{
		margin: 10px 10px 0 0;
		position: unset;
		background: none;
		height: auto;
		width: unset;
		border:none;
	}

	.nav__link{
		text-decoration: none;
		color: #333;
		display: inline-block;
	}

	.nav__link--palote:before{
		content: "| "
	}

	.nav__link--button{
		background: #008B99;
		color: white;
		padding: 5px;
		border-radius: 3px; 
	}
}
*/




